.list-container{
    display:flex;
    border-bottom:1px solid #000000;
    background-color: white;
    animation-name: listAnimation;
    animation-duration: 4s;
    cursor:pointer;
    transition:all 2s;
    
}
.image-container{
    flex:40%;
}
.details-container{
    flex:60%;
     
}
.details{
    padding:10px 10px;
}
.list-container:hover{
   transform:translateX(20px)
}
@keyframes listAnimation{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}