.footer-container{
    width:100%;
    height:40px;
    /* background: linear-gradient(to bottom, black 5%,transparent 95%); */
    position:fixed;
    bottom:0;
    z-index:10;
    display:flex;
    flex-grow: 1;
    background-color: black;
}
.icon-fawesome{
    flex:20%;
   padding-top:10px;
   cursor: pointer;
}
.searchBar-footer-container{
    display:flex;
    width:100%;
    height:40px;
    position: fixed;
    bottom:0;
    z-index:6;
    padding-left:10px;
    animation-name: footer;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#search-input-footer{
flex:80%;
border:none;
background-color: black;
color:white;
}
#search-input-footer:hover{
   border:1px solid blue
}
#btn-footer{
    padding:2px;
    margin-left:5px;
    border:none;
    text-decoration: none;
    color:black;
    flex:10%;
}
.close-btn{
    flex:10%;
    height:40px;
    color:black;
    width:20px;
    text-align: center;
    cursor:pointer;
}
@keyframes footer{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform:translateX(0%);
    }
}