.form-container-login{
    display:flex;
    flex-direction: column;
    width:40%;
    z-index:10;
    border-color: aqua;
    box-shadow: 0px 10px 15px 0px;
    position: absolute;
    top:30%;
    left:30%;
    transform:translateX(-50%,-50%);
    background: linear-gradient(to bottom,black 95%,transparent 5%);
}
h4{
    color:white;
    text-align: center;
}
.field-container-login{
    display: flex;
   flex-direction: column;
    
}
.label-field{
    flex:20%;
    color:white;
    text-align: center;
}
.input-field{
flex:80%;
text-align: center;
margin-bottom: 10px;
}
.input{
    width:90%;
    background-color: white;
    height:20px;
    color:black;
    
}
#login-button{
    margin:2% 5%;
   border:none;
   
   width:90%;
   color:white;
   padding:10px 10px;
   cursor: pointer;
    background-color:blue;
}
.login-social{
    background-color: black;
    border:none;
    color:white;
  flex:20%;
}
.login-social-container{
    display:flex;
    
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
}
