.navbar{
    background-image: linear-gradient(to bottom,black 5%,transparent 95%);
    border-bottom: none;
}
#navbar{
    height:60px;
    color:white;
    text-align: left;
    font-size: 20px;
    display: flex;
    width: 100%;
    position: fixed;
    top:0;
  padding-top:10px;
  z-index:6;
  flex-wrap: wrap;
}
.solid-navbar{
    background-image: linear-gradient(to bottom,black 0%,white 100%);
  
  animation-name: solidNavbar;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.Logo{
flex:20%;
}
.searchBar{
   padding:4px 0px 0px 50px;
   flex:40%;
  display:flex;
}
.main-buttons-container{
    flex:40%;
}
.icon-common{
    color:black;
    padding:10px 10px;
}
#login{
   
    text-decoration: none;
} 
.search{
   
   height:30px;
   color:black;
}
.search:hover{
    border:1px solid blue;
}
.btn-search{
 
}


.navbar:hover{
  animation-name: navbarAnimate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes navbarAnimate{
    0%{
        height:60px;
    }
    100%{
        height:80px;
    }
}
@keyframes solidNavbar{
    0%{
        transform: translateY(-80px);
    }
    100%{
        transform: translateY(0px);
    }
}
@media screen and (max-width:748px){
    .solid-navbar{
        display:none;
    }
    #navbar{
        display:none; 
    }
    .navbar{
        display:none;
    }
}