.profile-container{
    display:flex;
    flex-wrap:wrap;
    margin-top:60px;
}
.profile-data{
    flex:20%;
    display:flex;
    background-color: rgba(48, 51, 58, 0.514);
    height:100vh;
}
.profile-body{
    flex:80%;
    display:flex;
    flex-direction: column;
}
.profile-list{
color:white;
list-style: none;
width:100%;
list-style: none;
}
.profile-list-item{
    min-width: 100%;
    display:block;
    padding:10px 10px;
}
.profile-list-item:hover{
    background-color: darkgray;
  cursor: pointer;
}
.upload-container{
 position:fixed;
 top:0;
 left:0;
 background:rgba(0,5,27,0.4);
 min-width: 100%;
 min-height:100%;
}
.form-container{
    margin:200px auto 200px auto;
}
.input-container{
    margin:10px 10px 10px 10px;
}
.input-file{
    min-width:95%;
}
.input-text{
    min-width: 95%;
}
.card-container{
    display:inline-block;
    min-width:33%;
    z-index:2;
   
   
}
.image-container{
 min-width: 100%;
}
img{
    min-width: 100%;
   
}
.data-container{
    display:flex;
    flex-direction: column;
    color:white;
}
.information-container{
    background:black;
    border:1px solid white;
    margin:10px 10px;
    padding:10px 10px;
}