.target-info-container{
    margin-top:5px;
    background-color: #f3f3f3;
    
}
.react-player-container{
    display:flex;
    flex-direction: column;
    width:50%;
    margin-top:60px;
    margin-left:20px;
}

.video-is-private{
    margin-top:60px;
    color:white;
    background:yellowgreen;
    border:none;
    margin:60px 20px 20px 20px;
    padding:10px;
}
.request-send-container{
    padding:20px;
}
@media screen and (max-width:748px){
    .react-player-container{
        display:flex;
        flex-direction: column;
        width:100%;
        margin-top:60px;
        margin-left:0;
        
    }
    
}
